
// Footer
.site-footer{
  background-color: rgba(25, 56, 68, 1);
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  // @media (max-width: 768px){
  //   padding-top: 3.625rem;
  //   padding-bottom: 3.625rem;
  // }
  @media (max-width: 1199px){
    display: flex;
    padding-top: 3.625rem;
    padding-bottom: 3.625rem;
  }
  .logo {
    width: 250px;
    height: 50px;
    object-fit: contain;
    object-position: left;
  }
  .bottom-left{
    color:#fff;
  }
  .footer-nav {
    text-align: right;
    li,
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin-left: 30px;
    }
    a{
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #26d2a1;
      }
    }
  }
  .footer-bottom {
    a {
      color: #fff;
    }
    .bottom-left {
      float: left;
      line-height: 50px;
      a {
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
      }
    }
    .bottom-right {
      float: right;
      text-align: right;
      font-size: 30px;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
    p{
      font-size: 14px;
    }
  }
}