.top-header-wrapper{
    padding: 6px 0;
    background: #f3f3f3;
}
.top-header-list{
    ul{
        margin: 0;
        padding-left: 0;
        list-style: none;
        li{
            display: inline-block;
            vertical-align: middle;
            margin: 0 13px 0 0;
            a{
                font-size: 14px;
                color: var(--bs-secondary);
            }
        }
    }
}