
.step-form-container{
  background: #2184be;
  .step-form-content{
    h1{
      margin: 0 0 15px;
      font-size: 38px;
      font-weight: 700;
      color: #fff;
      text-align: center;
    }
  }
  .step-form-wrapper{
    .steps{
      display: none;
    }
    .content {
      h4{
        margin: 0 0 30px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }
      input[type="radio"] {
        display: none;
        & ~ label{
          width: 100%;
          padding: 9px 15px;
          font-size: 20px;
          border: 1px solid #2184be;
        }
        &:checked ~ label{
          color: #fff;
          background: #2184be;
        }
      }
    }
  }
}

/* Common */

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #fcfcfc;
    color: #111;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #4CAF50;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content{
  position: relative;
  display: block;
  margin: 0.5em;
  width: auto;
  min-height: 16.5em;
  background: #fff;
  border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body{
    float: left;
    width: 100%;
    height: 95%;
    padding: 0;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error{
    color: #d72912;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error{
  display: inline-block;
  margin-left: 0;
  top: -6px;
  left: inherit;
  right: 0;
  text-align: end;
  font-size: 10px;
  color: #d72912;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
    @media (max-width: 575px) {
      display: block;
      width: 100%;
    }
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
    @media (max-width: 480px) {
      margin-bottom: 5px;
      float: inherit;
    }
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
  display: block;
  min-width: 150px;
  padding: .7em 1em;
  font-size: 15px;
  font-weight: 600;
  background: #2184be;
  color: #fff;
  text-decoration: none;
  border-radius: 0;
  text-align: center;
  @media (max-width: 575px) {
    min-width: inherit;
  }
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active{
    background: #eee;
    color: #aaa;
}


/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li{
    display: list-item;
}

.step-form-wrapper .container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#become-support input[type="text"],
#become-support input[type="email"],
#become-support input[type="tel"],
#become-support input[type="url"],
#become-support textarea,
#become-support button[type="submit"] {
  font: 400 12px/16px "Titillium Web", Helvetica, Arial, sans-serif;
}

#become-support {
  background: #fff;
  padding: 25px; 
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#become-support h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#become-support input[type="text"],
#become-support input[type="email"],
#become-support input[type="tel"],
#become-support input[type="url"],
#become-support textarea {
  width: 100%;
  margin: 0 0 5px;
  background: #fff;
  border: 1px solid #ccc;
}

#become-support input[type="text"]:hover,
#become-support input[type="email"]:hover,
#become-support input[type="tel"]:hover,
#become-support input[type="url"]:hover,
#become-support textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#become-support textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#become-support button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#become-support button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#become-support button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#become-support input:focus,
#become-support textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.steps > ul > li > a,
.actions li a { 
    padding: 10px;
    text-decoration: none;
    margin: 1px;
    display: block;
    color: #777;
}

.steps > ul > li,
.actions li {
    list-style:none;
}

.step-form-wrapper .container {
  min-height: calc(100vh - 450px);
  padding-top: 3%;
  padding-bottom: 3%;
}
